/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* 62.5% html ~ 10px */
    font-size: 62.5%;

    font-family: url('/assets/font/Roboto-Black.ttf');
}

:root {
    --size_text15: 1.5rem;
    --size_text20: 2rem;
    --color_text: #3f4047;
    --main_color: #fff;
}

ul {
    list-style: none;
}

a {
    color: var(--color_text);
    text-decoration: none;
    display: block;
}

.nav-right li,
button {
    cursor: pointer;
}

#main {}

#header {
    height: 7.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* position: fixed;
    right: 0;
    left: 0;
    top: 0; */
}

.nav-bar {
    font-size: var(--size_text15);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    height: 7.2rem;
}

.nav-left {
    display: flex;
    margin-left: 4rem;
}

.left {
    width: 37rem;
    height: 5.6rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
    margin: -0.2rem 0;
}

.left > li:hover > i,
.left > li:hover > a {
    color: #1a6fb7;
}

.nav-bar li i {
    font-size: var(--size_text15);
}

.nav-right {
    height: 5.6rem;
    width: 43.3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -0.2rem 4rem -0.2rem 0;
}

.acc {
    position: relative;
    color: var(--color_text);
}

.log-dropdown {
    display: none;
    position: absolute;
    width: 11rem;
    height: 11rem;
    animation: appearance ease-in 0.2s;
}

.log {
    position: absolute;
    width: 11rem;
    height: 9.6rem;
    background-color: var(--main_color);
    transform: translatey(1.5rem);
    box-shadow: 0 0 1rem;
    border-radius: 4px;
}

.log li {
    width: 11rem;
    height: 4.8rem;
    line-height: 4.8rem;
    padding-left: 1rem;
}

.btn {
    background-color: #f2863b;
    line-height: 4.8rem;
    width: 15.3rem;
    text-align: center;
    border-radius: 4px;
}

.btn a {
    color: var(--main_color);
}

.btn:hover{
    background-color: #c27640;
}

.menu-dropdown {
    display: none;
    position: absolute;
    height: 49.7rem;
    width: 66rem;
    animation: appearance ease-in 0.2s;
}

.log::before,
.sub-nav::before {
    content: "";
    position: absolute;
    top: -3.3rem;
    border-width: 2rem 2rem;
    border-style: solid;
    left: 1rem;
    z-index: -5;
    border-color: transparent transparent var(--main_color);
}

.left .sub-nav {
    display: flex;
    justify-content: space-around;

    position: absolute;

    height: 48.7rem;
    width: 66rem;
    background-color: var(--main_color);
    border-radius: 4px;
    box-shadow: 0 0 1rem;

    transform: translateY(1rem);
}

.sub1 li:hover a,
.sub2 li:hover a,
.sub3 li:hover a {
    background-color: rgb(230, 230, 230);
}

.sub {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.sub li a {
    color: #000;
    font-size: var(--size_text15);
    display: block;
    padding: 0 1rem;
}

.sub1 li {
    width: 18.1rem;
    height: 4rem;
    line-height: 4rem;
}

.sub2 li {
    width: 19.7rem;   
    height: 4rem;
    line-height: 4rem;
}

.sub3 li {
    width: 14rem;
    height: 4rem;
    line-height: 4rem;
}

.sub b {
    padding: 0 1rem;
}

.nav-right li:hover .log-dropdown,
.left li:hover .menu-dropdown {
    display: block;
}

.phone {
    color: var(--color_text);
    background-color: #fff;
    border: none;
}

.extra {
    color: #1a6fb7;
    font-size: var(--size_text15); 
    margin-left: 3.2rem;
    transform: translateY(45rem);
    line-height: 4rem;
}

.nav-left .bars {
    display: none;
}

.home {
    width: 15.2rem;
    height: 5.6rem;
    line-height: 5.6rem;
    text-align: center;
    margin: -0.2rem 0;
}

.bars {
    background-color: var(--main_color); 
    border: none; 
    font-size: var(--size_text20);
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin-top: 0.7rem;
}

#hiden-sub-nav {
    display: none;
}

#hiden {
    display: none;

    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 30rem;
    min-height: 70rem;
    background-color: var(--main_color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

.hiden-header {
    display: flex;
    justify-content: space-between;

    min-width: 30rem;
    min-height: 5.5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.cancle {
    min-width: 2.4rem;
    min-height: 2.9rem;
    line-height: 2.9rem;
    text-align: center;
    margin: 1rem 1rem 0 0;
    font-size: var(--size_text20);
    color: var(--color_text);
    background-color: var(--main_color); 
    border: none;
}

.cancle:hover {
    color: red;
}

.hiden-home {
    min-width: 11.2rem;
    min-height: 2.9rem;
    line-height: 2.9rem;
    text-align: center;
    margin: 1rem 0 0 1rem;
    font-size: var(--size_text15);
}

.hiden-nav .phone,
.hiden-nav > li > a {
    width: 30rem;
    height: 4rem;
    line-height: 4rem;
    padding-left: 1rem;
    font-size: var(--size_text20);
}

.mua {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;

    background-color: var(--main_color);
    height: 4rem;
    width: 27.6rem;
    color: var(--color_text);
    font-size: var(--size_text20);
    line-height: 4rem;
    border: none;
}

.hiden-nav .fa-chevron-down {
    line-height: 4rem;
    font-size: var(--size_text15);
    color: var(--color_text);
}

.font-dang {
    width: 30rem;
    height: 6.5rem;
    line-height: 6.5rem;
}

.dang {
    font-size: var(--size_text15);
    text-align: center;
    line-height: 3.3rem;
    max-height: 3.3rem;
    max-width: 27.5rem;
    background-color: #f2863b;
    margin: 1.6rem auto;
    border-radius: 3px
}

.hiden-sub b {
    font-size: var(--size_text15);
    color: #3f4047;
}

.hiden-sub {
    height: 4.8rem;
    width: 27.6rem;
    line-height: 4.8rem;
    padding-left: 1rem;

    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    background-color: var(--main_color);
    border: none;
}

#hiden-sub1,
#hiden-sub2,
#hiden-sub3 {
    display: none;
    width: 27.6rem;
    height: 38rem;
    margin-left: 1rem;
}

#hiden-sub3 {
    height: 15.2rem;
}

#hiden-sub1 li,
#hiden-sub2 li,
#hiden-sub3 li {
    width: 24.4rem;
    height: 3.8rem;
    float: right;
    font-size: var(--size_text15);
    line-height: 3.8rem;
}

.log li:hover,
#hiden-sub1 li:hover,
#hiden-sub2 li:hover,
#hiden-sub3 li:hover {
    background-color: rgb(230, 230, 230);
}

.hiden-extra {
    color: #1a6fb7;
    font-size: var(--size_text15); 
    margin-left: 1rem;
    line-height: 3.7rem;
    width: 27.6rem;
    height: 3.7rem;
    padding-left: 1rem;
}

/* Animation */
@keyframes appearance {
    from {
        opacity: 0;
        transform: scale(0);

    } 
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Responsive */
@media screen and (max-width: 1199px) {
    .nav-left {
        margin-left: 2rem;
    }

    .nav-right {
        margin-left: -2rem;
    }
}

@media screen and (max-width: 1010px) {
    .nav-bar,
    #header {
        height: 12rem;
    }

    .home {
        width: 11.2rem;
        height: 2.9rem;
        line-height: 2.9rem;
        margin-top: 1.2rem;
        margin-right: 4rem;
    }

    .btn {
        margin-left: 4rem;
    }
}

@media screen and (max-width: 767px) {
    .nav-bar,
    #header {
        height: 5.6rem;
    }

    .nav-left .bars {
        display: block;
    }

    .home {
        width: 11.2rem;
        height: 2.9rem;
        line-height: 2.9rem;
        margin-left: 2rem;
        margin-top: 0.5rem;
    }

    .fa-chevron-down {
        margin: 0.4rem;
    }
    
    .log {
        transform: translate(-3rem, 1rem);
    }

    .left,
    .btn,
    .nav-right li button .fa-phone,
    .nav-right li b {
        display: none;
    }

    .nav-left {
        width: 15.6rem;
        height: 2.9rem;
        line-height: 2.9rem;
    }

    .nav-right {
        width: 4.3rem;
        height: 2.4rem;
        margin-top: 0.8rem;
    }
} 

@media screen and (max-width: 239px){
    .nav-bar,
    #header {
        height: 8.5rem;
    }

    .nav-right {
        margin-left: 2.5rem;
    }
}

.content {
    height: 100rem;
}